.render-anime-card {
    width: 90%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}

.card {
    border: none !important;
}

.card-top h1 {
    font-size: 1rem;
}


.card-top img  {
    width: 185px;
    height: 265px;
    /* object-fit: scale-down; */
    /* object-fit: cover; */
}

.card-bottom {
    display: inline-block;
    width: 185px;
    overflow-wrap: break-word;
}