.card-img-cover {
    width: 185px;
    height: 265px;  
}


.main-card {
    display: flex;
    max-width: 600px;
    margin: 50px auto;
}

.genre-container {
    display: flex;
}

.genre-item {
    padding-right: 15px;
}

.synopsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-info {
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card-details {
    width: 90%;
	padding: 30px;
	margin-top: -25px;
}


h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 550px;
}

.container {
    width: 100%;
}
